<!-- user-profile card with quote and age shown or hidden?/ deuxième mission -->
<ul>
  <li><a [routerLink]="['/user']">User</a></li>
  <li><a [routerLink]="['/directives']">Directives</a></li>
  <li><a [routerLink]="['/form']">Form</a></li>
</ul>

<router-outlet></router-outlet>

<!-- bloc-party exercice-->

<div class="container">
  <div class="first">
    <app-block></app-block>
  </div>

  <div class="second">
    <app-block></app-block>
  </div>

  <div class="third">
    <app-block></app-block>
  </div>

  <div class="fourth">
    <app-block></app-block>
  </div>
</div>
