:root {
  --font-family: "Roboto";
  --border-style: 1px solid grey;
}

.userProfile {
  width: 400px;
  height: auto;
  margin: 50px;
  padding: 2px;
  background-color: rgb(240, 240, 232);
  border: 1px solid grey;
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  img {
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
  }

  .name,
  .firstName {
    font-size: 22px;
    font-weight: 500;
  }
  input {
    display: block;
  }

  .ageButton {
    margin: 15px 0 15px 25px;
    font-family: var(--font-family);
  }
}
